<section class="register-index">
  <header class="page-header">
    <h1>Register</h1>
  </header>

  <%= form_for @user, url: '/users' do |f| %>
  <% if f.object.errors.any? %>
          <div class="alert alert-danger">
            <strong>The following errors prevented saving:</strong>
            <ul>
              <% f.object.errors.full_messages.each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
  <div class="row g-3">
    <div class="col-md-6">
      <%= f.label :first_name, class: "form-label" %>
      <%= f.text_field :first_name, :tabindex => 1, class: "form-control" %>
    </div>
    <div class="col-md-6">
      <%= f.label :last_name, class: "form-label" %>
      <%= f.text_field :last_name, :tabindex => 2, class: "form-control" %>
    </div>
    <div class>
      <%= f.label :email, class: "form-label" %>
      <%= f.email_field :email, :tabindex => 3, class: "form-control" %>
    </div>
    <div class="col-md-6">
      <%= f.label :password, class: "form-label" %>
      <%= f.password_field :password, :tabindex => 4, class: "form-control" %>
    </div>
    <div class="col-md-6">
      <%= f.label :password_confirmation, class: "form-label" %>
      <%= f.password_field :password_confirmation, :tabindex => 5, class: "form-control" %>
    </div>

    <%#= link_to "Register", user_controller%>

    <div class="col-12">
      <%= f.submit "Register", :tabindex => 6, class: "btn btn-primary" %>

  </div>

  <% end %>